<?php
/**
 * @author Igor Vorobiov<igor.vorobioff@gmail.com>
 */

return [
    'debug' => false,

    'database' => [
        'username' => '',
        'password' => '',
        'name' => '',
        'host' => ''
    ]
];